<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Book</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/style/homeStyle.css" />
  </head>
  <body>
    <div id="overlay"></div>
    <div id="search-add">
      <input id="search-bar" placeholder="Search for a contact" type="text" />
      <button id="add-button" type="button">Add</button>
    </div>
    <form id="add-form">
      <label for="name">Name:</label>
      <input
        placeholder="e.g. Khaled"
        required
        id="name"
        name="name"
        type="text"
      />
      <label for="phone">Phone number:</label>
      <input
        placeholder="e.g. 0512344567"
        required
        id="phone"
        name="phone"
        type="number"
      />
      <label for="email">Email adress:</label>
      <input
        placeholder="example@example.com"
        id="email"
        name="email"
        type="email"
      />
      <label for="adress">Adress:</label>
      <input
        placeholder="e.g. Riyadh First Street"
        id="adress"
        name="adress"
        type="text"
      />
      <label for="notes">Note:</label>
      <textarea
        placeholder="I met him at the park..."
        cols="20"
        rows="6"
        name="notes"
        id="notes"
      ></textarea>
      <button id="formBtn">Add contact</button>
    </form>
    <div id="contacts-container">
      <% contacts.forEach((contact)=>{%>
      <div class="contact-container">
        <div class="contact-card">
          <h2><%=contact.name%></h2>
          <p><%=contact.email?contact.email:'—'%></p>
          <h2><%=contact.phone%></h2>
          <button type="button" class="infoBtn">Show more</button>
          <button type="button" data-id="<%=contact._id%>" class="deleteBtn">
            Delete
          </button>
        </div>
        <div class="more-info">
          <h2>Contact's info</h2>
          <h3>Name : <%=contact.name%></h3>
          <h3>Phone number : <%=contact.phone%></h3>
          <h3>Email adress: <%=contact.email?contact.email:'—'%></h3>
          <h3>Adress : <%=contact.adress?contact.adress:'—'%></h3>
          <h3>Note : <%=contact.notes?contact.notes:'—'%></h3>
          <button type="button" class="modify-btn">Modify</button>
        </div>
      </div>
      <%})%>
    </div>
    <script type="module" src="../public/script/homeDOM.js"></script>
    <script type="module" src="../public/script/homeRequests.js"></script>
  </body>
</html>
